/* .container{
    display: grid;
    grid-template-areas: 
    "header header"
    "nav nav"
    "sidebar content"
    "footer footer";
}

header{
    grid-area: header;
    background-color: none;
}

nav{
    grid-area: nav;
    letter-spacing: 1px;
    position: absolute;
    top: 48%;
    left: 7rem;
    transform: translate(-50%, -50%);
}

aside{
    grid-area: sidebar;
    background-color: none;
}

main{
    grid-area: content;
    background-color: none;
}

footer{
    grid-area: footer;
    background-color: none;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 2 / 2 / 3 / 3; }
    
    nav a{
        text-decoration: none;
        color: cadetblue;
        font-family: system-ui;;
    } */